RewriteEngine On

RewriteRule rest.cgi/(.*) rest.cgi [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule . index.html

<Files ".gitignore">
  Order Allow,Deny
  Deny from all
</Files>

<Files ".admin_password">
  Order Allow,Deny
  Deny from all
</Files>

<Files "LICENSE">
  Order Allow,Deny
  Deny from all
</Files>

<Files "README.md">
  Order Allow,Deny
  Deny from all
</Files>
